html {
  font-size: 10px;  /* フォントサイズ */
  font-family: 'Noto Serif JP';
  background-color: black;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0px 20px 20px 20px;
  border: 5px solid blue;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 5px 5px 5px black;
}

p, li {
  font-size: 16px;
  line-height: 2;         /* 行の高さ */
  letter-spacing: 1px;    /* 文字の間隔 */
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}